@charset "UTF-8";
/* COLORES BASICOS */
/* $color-oscuro: #444443; */
/* USADO PARA EL BORDER DE LOS CUADROS DE CLIMA Y COTIZACIÓN */
/* USADO PARA DEGRADADOS DE LA PAGINA - VA DESDE EL COLOR PRINCIPAL HASTA OTRA VARIANTE DEL MISMO */
/*  USADO PARA DARLE ESE TONO TRASLÚCIDO A LA SECCIÓN DE PROGRAMACION Y CLIMA - EN PANTALLAS DE TABLET EN ADELANTE */
/* FAMILIA DE FUENTE GENERAL Y FUENTE PARA CUSTOM  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 769px) {
  body {
    margin: 0 auto;
    background-color: #333333;
    background-image: url(../images/bg.jpg);
  }
}

.container {
  width: 100%;
  height: 200vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 7vh 50vh 36vh 7vh 15vh 43vh 35vh 7vh;
      grid-template-rows: 7vh 50vh 36vh 7vh 15vh 43vh 35vh 7vh;
      grid-template-areas: "header header" "player player" "main main" ". ." "programacion programacion" "dias programas" "clima-cotizacion programas" "footer footer";
  background-image: url(../images/bg2.jpg);
  background-size: contain;
  background-position: unset;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    -ms-grid-columns: 50% 20% 30%;
        grid-template-columns: 50% 20% 30%;
    -ms-grid-rows: 7vh 26vh 10vh 37vh 15vh 5vh;
        grid-template-rows: 7vh 26vh 10vh 37vh 15vh 5vh;
        grid-template-areas: "header header header" ". main main" "player programacion programacion" "player dias programas" "clima-cotizacion  clima-cotizacion programas" "footer footer footer";
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (min-width: 769px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    background-image: unset;
  }
}

.container .audio {
  display: none !important;
}

.container .header {
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  color: #e76f51;
  z-index: 90;
  background-color: #f6f6f6;
  font-family: "Fredericka the Great", cursive;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .container .header {
    position: relative;
    border-radius: unset;
  }
}

.container .header .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  z-index: 1;
}

@media (min-width: 768px) {
  .container .header .logo-menu {
    padding-top: 0.5em;
  }
}

@media (min-width: 769px) {
  .container .header .logo-menu {
    padding-top: unset;
  }
}

.container .header .logo-menu .logo h1 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;
  color: #333333;
}

@media (min-width: 768px) {
  .container .header .logo-menu .logo h1 {
    font-size: 2.5em;
  }
}

.container .header .logo-menu .menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .header .logo-menu .menu span {
  display: block;
  position: relative;
  width: 18px;
  height: 3px;
  background-color: #333333;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .container .header .logo-menu .menu span {
    width: 25px;
    height: 4px;
  }
}

.container .header .logo-menu .menu span::before, .container .header .logo-menu .menu span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #333333;
  border-radius: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .header .logo-menu .menu span::before {
  top: -5px;
}

@media (min-width: 768px) {
  .container .header .logo-menu .menu span::before {
    top: -7px;
  }
}

.container .header .logo-menu .menu span::after {
  bottom: -5px;
}

@media (min-width: 768px) {
  .container .header .logo-menu .menu span::after {
    bottom: -7px;
  }
}

.container .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 0 0 10px 10px;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  .container .header .nav {
    position: relative;
  }
}

.container .header .nav.open {
  max-height: 50vh;
}

.container .header .nav ul {
  list-style: none;
  margin: 0.25em 0;
}

.container .header .nav ul li {
  padding: 0.25em 0.5em;
  font-size: 1.25em;
  text-align: center;
}

.container .header .nav ul li:hover {
  border-radius: 0.25em;
  background: -webkit-gradient(linear, left top, right top, from(#e76f51), to(#e78d51));
  background: linear-gradient(90deg, #e76f51 0%, #e78d51 100%);
}

.container .header .nav ul li a {
  text-decoration: none;
  color: #333333;
}

.container .player {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: player;
  position: relative;
  top: 30vh;
  left: -255px;
  color: #f6f6f6;
  -webkit-transition: left 0.5s linear;
  transition: left 0.5s linear;
}

@media (min-width: 768px) {
  .container .player {
    top: 0px;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
}

.container .player .lengueta {
  position: absolute;
  top: 130px;
  left: 254px;
  width: 40px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  background-color: #f6f6f6;
  color: #333333;
  cursor: pointer;
}

.container .player .lengueta::before {
  display: block;
  position: absolute;
  top: 10px;
  left: 18px;
  width: 3px;
  height: 20px;
  content: "";
  background-color: #333333;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  transition: opacity 0.4s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.4s;
  transition: transform 0.5s, opacity 0.4s, -webkit-transform 0.5s;
}

.container .player .lengueta::after {
  display: block;
  position: absolute;
  top: 10px;
  left: 18px;
  width: 3px;
  height: 20px;
  content: "";
  background-color: #333333;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .player .fondo-b {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 255px;
  height: 235px;
  border-radius: 0px 0px 20px 0px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  overflow: auto;
}

.container .player .fondo-b .programa-en-vivo {
  padding: 0.75em 0;
}

.container .player .fondo-b .programa-en-vivo h2 {
  font-size: 1.1em;
  color: #333333;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.container .player .fondo-b .escribir {
  padding-bottom: 1em;
}

.container .player .fondo-b .escribir h3 {
  font-size: 0.9em;
  font-weight: 500;
  color: #e76f51;
  text-transform: uppercase;
  text-align: center;
}

.container .player .fondo-b .lista-de-canciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1em;
}

.container .player .fondo-b .lista-de-canciones h2 {
  font-size: 0.8em;
  color: #333333;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.container .player .fondo-b .lista-de-canciones .escribir h3 {
  font-size: 0.75em;
  color: #333333;
  line-height: 1.5em;
  font-weight: 400;
  text-transform: unset;
  text-align: left;
}

.container .player .volumen {
  position: absolute;
  top: 90px;
  left: 10px;
}

.container .player .volumen input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 235px;
  height: 3px;
  outline: none;
  background: #333333;
}

.container .player .volumen input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 24px;
  border-radius: 25%;
  background: #e76f51;
  cursor: pointer;
}

.container .player .volumen input::-moz-range-thumb {
  width: 12px;
  height: 24px;
  background: #e76f51;
  cursor: pointer;
}

.container .player .stop {
  position: absolute;
  top: 74px;
  left: 272px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), inset 1px 5px 7px rgba(0, 0, 0, 0.349);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), inset 1px 5px 7px rgba(0, 0, 0, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-image: url(../images/noise.png);
}

.container .player .stop i {
  color: #f6f6f6;
}

.container .player .play {
  position: absolute;
  top: 7px;
  left: 262px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333333;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), inset 1px 5px 7px rgba(0, 0, 0, 0.349);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25), inset 1px 5px 7px rgba(0, 0, 0, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-image: url(../images/noise.png);
}

.container .player .play i {
  color: #f6f6f6;
  font-size: 1.5em;
  -webkit-transition: color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: color 0.2s ease-in, transform 0.2s ease-in;
  transition: color 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.container .player .play i:hover, .container .player .play i:focus {
  color: #e76f51;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .player .cancion {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 235px;
  height: 75px;
  border-radius: 10px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: inset -3px -2px 3px rgba(59, 59, 59, 0.5);
          box-shadow: inset -3px -2px 3px rgba(59, 59, 59, 0.5);
}

.container .player .cancion h2 {
  font-size: 0.8em;
  font-weight: 500;
  color: #f6f6f6;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.container .player .cancion h3 {
  font-size: 0.7em;
  font-weight: 500;
  color: #f6f6f6;
  text-align: center;
}

.container .player .fondo-a {
  position: relative;
  width: 330px;
  height: 120px;
  border-radius: 0px 20px 20px 0px;
  background: -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#f6f6f6));
  background: linear-gradient(90deg, #c4c4c4 0%, #f6f6f6 100%);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

.container .main {
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f6f6f6;
  font-family: "Fredericka the Great", cursive;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.container .main .texto {
  background-color: rgba(59, 59, 59, 0.5);
  padding: 0.5em;
  border-radius: 10px;
  max-width: 250px;
}

@media (min-width: 768px) {
  .container .main .texto {
    max-width: 350px;
    padding: 0.5em 1em;
    background: -webkit-gradient(linear, left top, right top, from(#e76f51), to(#e78d51));
    background: linear-gradient(90deg, #e76f51 0%, #e78d51 100%);
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.container .main .texto h1 {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 768px) {
  .container .main .texto h1 {
    font-size: 2.75em;
  }
}

.container .main .texto h2 {
  font-size: 1em;
  text-align: center;
  padding-top: 0.5em;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container .main .texto h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .container .main .texto span {
    display: block;
    color: #333333;
  }
}

.container .main .flecha {
  /* margin-bottom: 5em; */
}

@media (min-width: 768px) {
  .container .main .flecha {
    display: none;
  }
}

.container .main .flecha i {
  font-size: 2em;
  color: #f6f6f6;
  position: relative;
  -webkit-animation: flecha-mueve 1.25s infinite linear;
          animation: flecha-mueve 1.25s infinite linear;
}

.container .programacion {
  height: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: programacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #333333;
  color: #f6f6f6;
  padding-bottom: 0.75em;
  font-size: 0.75em;
  text-transform: uppercase;
  background-image: url("../images/noise.png");
}

@media (min-width: 768px) {
  .container .programacion {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px 20px 0 0;
  }
  .container .programacion h1 {
    font-size: 2.25em;
    font-weight: 500;
    text-transform: uppercase;
    color: #f6f6f6;
  }
}

.container .dias {
  /* height: 100%;
    background-color: aqua; */
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: dias;
  color: #e76f51;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  background-image: url("../images/noise.png");
  /* &::after{
        display: block;
        content: "";
        width: 3px;
        height: 228px;
        background-color: #303030;
        border-radius: 3px;
        position: absolute;
        top: 0px;
        right: 10px;
    } */
}

@media (min-width: 768px) {
  .container .dias {
    /* background-color: rgba(59, 59, 59, 0.5); */
  }
}

.container .dias ul {
  cursor: pointer;
  list-style: none;
  padding: 0 1em;
}

.container .dias ul li {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0em 0.75em 0em 0.25em;
  margin: 0.25em 0;
  display: block;
  /* transition: color 0.2s linear, background-color 0.2s linear; */
  -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
  /* color: $color-claro; */
  /* opacity: .5; */
}

@media (min-width: 768px) {
  .container .dias ul li {
    font-size: 1.5em;
    /* border-radius: 5px; */
  }
}

.container .dias::before {
  display: block;
  content: "";
  width: 3px;
  height: 202px;
  background-color: #222222;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 10px;
}

@media (min-width: 768px) {
  .container .dias::before {
    background-color: unset;
  }
}

.container .programas {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: programas;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  background-image: url("../images/noise.png");
  position: relative;
}

.container .programas .wrap {
  overflow: auto;
}

.container .programas .wrap .programa {
  color: #f6f6f6;
  background-color: #f6f6f6;
  width: 200px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em auto;
  border-radius: 10px;
  position: relative;
  -webkit-animation: fadein2 0.75s linear;
          animation: fadein2 0.75s linear;
}

@media (min-width: 768px) {
  .container .programas .wrap .programa {
    margin: 0em auto 0.5em;
    -webkit-animation: fadein2 0.75s ease-in-out;
            animation: fadein2 0.75s ease-in-out;
  }
}

.container .programas .wrap .programa_texto {
  width: 85%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .programas .wrap .programa_texto h2 {
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  background: #333333;
  color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 0.25em;
  font-weight: 500;
}

.container .programas .wrap .programa_texto h3 {
  font-size: 0.75em;
  margin: 0.25em;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
}

.container .programas .wrap .programa_plus {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(59, 59, 59, 0.5);
  border-radius: 0 10px 10px 0;
}

.container .programas .wrap .programa_plus i {
  cursor: pointer;
  font-size: 1.25em;
  color: #333333;
}

.container .clima-cotizacion {
  height: 100%;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: clima-cotizacion;
  background-color: #333333;
  background-image: url("../images/noise.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 768px) {
  .container .clima-cotizacion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px 0px 0 0;
    background-color: #333333;
  }
}

.container .clima-cotizacion .clima,
.container .clima-cotizacion .cotizacion-arg,
.container .clima-cotizacion .cotizacion-usd {
  padding: 0.5em 1em;
}

.container .clima-cotizacion .clima h2,
.container .clima-cotizacion .cotizacion-arg h2,
.container .clima-cotizacion .cotizacion-usd h2 {
  text-align: center;
  font-size: 0.75em;
  color: #f6f6f6;
}

.container .clima-cotizacion .clima .cuadro,
.container .clima-cotizacion .cotizacion-arg .cuadro,
.container .clima-cotizacion .cotizacion-usd .cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  border: 2px solid rgba(246, 246, 246, 0.25);
  padding: 0.25em;
  border-radius: 10px;
  width: 125px;
  height: 50px;
  background-color: rgba(246, 246, 246, 0.25);
}

@media (min-width: 768px) {
  .container .clima-cotizacion .clima .cuadro,
  .container .clima-cotizacion .cotizacion-arg .cuadro,
  .container .clima-cotizacion .cotizacion-usd .cuadro {
    width: 150px;
    height: 60px;
    background-color: rgba(59, 59, 59, 0.5);
    -webkit-box-shadow: 2px 3px 3px rgba(54, 38, 38, 0.25);
            box-shadow: 2px 3px 3px rgba(54, 38, 38, 0.25);
    border: 2px solid #f6f6f6;
  }
}

.container .clima-cotizacion .clima .cuadro .imagen,
.container .clima-cotizacion .cotizacion-arg .cuadro .imagen,
.container .clima-cotizacion .cotizacion-usd .cuadro .imagen {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .clima-cotizacion .clima .cuadro .imagen img,
.container .clima-cotizacion .cotizacion-arg .cuadro .imagen img,
.container .clima-cotizacion .cotizacion-usd .cuadro .imagen img {
  width: 100%;
  display: block;
}

.container .clima-cotizacion .clima .cuadro .imagen span,
.container .clima-cotizacion .cotizacion-arg .cuadro .imagen span,
.container .clima-cotizacion .cotizacion-usd .cuadro .imagen span {
  font-size: 0.8em;
  padding: 0.25em;
  border-radius: 5px;
  background-color: #86f4fc;
  color: #333333;
}

.container .clima-cotizacion .clima .cuadro .imagen .dolar,
.container .clima-cotizacion .cotizacion-arg .cuadro .imagen .dolar,
.container .clima-cotizacion .cotizacion-usd .cuadro .imagen .dolar {
  background-color: #86fcb7;
}

.container .clima-cotizacion .clima .cuadro .datos,
.container .clima-cotizacion .cotizacion-arg .cuadro .datos,
.container .clima-cotizacion .cotizacion-usd .cuadro .datos {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #f6f6f6;
}

.container .clima-cotizacion .clima .cuadro .datos h1,
.container .clima-cotizacion .cotizacion-arg .cuadro .datos h1,
.container .clima-cotizacion .cotizacion-usd .cuadro .datos h1 {
  font-size: 0.65em;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container .clima-cotizacion .clima .cuadro .datos h1,
  .container .clima-cotizacion .cotizacion-arg .cuadro .datos h1,
  .container .clima-cotizacion .cotizacion-usd .cuadro .datos h1 {
    font-size: 0.8em;
  }
}

.container .clima-cotizacion .clima .cuadro .datos h2,
.container .clima-cotizacion .cotizacion-arg .cuadro .datos h2,
.container .clima-cotizacion .cotizacion-usd .cuadro .datos h2 {
  font-size: 0.75em;
  color: #f6f6f6;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container .clima-cotizacion .clima .cuadro .datos h2,
  .container .clima-cotizacion .cotizacion-arg .cuadro .datos h2,
  .container .clima-cotizacion .cotizacion-usd .cuadro .datos h2 {
    font-size: 0.85em;
  }
}

.container .clima-cotizacion .clima .cuadro .datos h3,
.container .clima-cotizacion .cotizacion-arg .cuadro .datos h3,
.container .clima-cotizacion .cotizacion-usd .cuadro .datos h3 {
  font-size: 0.6em;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container .clima-cotizacion .clima .cuadro .datos h3,
  .container .clima-cotizacion .cotizacion-arg .cuadro .datos h3,
  .container .clima-cotizacion .cotizacion-usd .cuadro .datos h3 {
    font-size: 0.7em;
  }
}

@media (min-width: 768px) {
  .container .clima-cotizacion .clima .clima2,
  .container .clima-cotizacion .cotizacion-arg .clima2,
  .container .clima-cotizacion .cotizacion-usd .clima2 {
    background-color: rgba(246, 246, 246, 0.25);
  }
  .container .clima-cotizacion .clima .clima2 .datos h1,
  .container .clima-cotizacion .clima .clima2 .datos h2,
  .container .clima-cotizacion .clima .clima2 .datos h3,
  .container .clima-cotizacion .cotizacion-arg .clima2 .datos h1,
  .container .clima-cotizacion .cotizacion-arg .clima2 .datos h2,
  .container .clima-cotizacion .cotizacion-arg .clima2 .datos h3,
  .container .clima-cotizacion .cotizacion-usd .clima2 .datos h1,
  .container .clima-cotizacion .cotizacion-usd .clima2 .datos h2,
  .container .clima-cotizacion .cotizacion-usd .clima2 .datos h3 {
    color: #f6f6f6;
  }
}

.container .footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #f6f6f6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  color: #333333;
  border-radius: 10px 10px 0px 0px;
}

@media (min-width: 768px) {
  .container .footer {
    font-size: 1em;
    border-radius: unset;
  }
}

.container .footer a {
  text-decoration: none;
  color: #333333;
}

.container .footer .corazon {
  color: red;
}

.container .footer .musica {
  color: black;
}

.container .footer .advertencia {
  color: black;
  cursor: pointer;
}

.modals,
.modal-disclaimer {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-animation: fadein 0.5s linear;
          animation: fadein 0.5s linear;
}

.modals div,
.modal-disclaimer div {
  display: none;
  background-color: #f6f6f6;
  margin: 40vh auto;
  width: 320px;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .modals div,
  .modal-disclaimer div {
    margin: 10% auto;
    width: 470px;
  }
}

.modals div .cerrar,
.modal-disclaimer div .cerrar {
  color: rgba(59, 59, 59, 0.5);
  float: right;
  font-size: 2em;
  font-weight: 600;
  padding-right: 0.25em;
  cursor: pointer;
}

.modals div .cerrar:hover,
.modal-disclaimer div .cerrar:hover {
  color: #333333;
}

.modals div p,
.modal-disclaimer div p {
  padding: 2em 1em;
  line-height: 1.25em;
}

/* ---------- ANIMACIONES ---------- */
/* Menu hamburguesa */
menu.open .menu.span {
  background-color: transparent;
}

menu.open .menu.span::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

menu.open .menu.span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

menu.open2 {
  border: 2px solid #e76f51;
}

/* Reproductor */
.player.desplegar-lista {
  left: 0px;
}

.player.rota-before .lengueta::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
}

.player.play-on .play i {
  color: #e76f51;
}

.player.play-off .stop i {
  color: #e76f51;
}

/* Bajar opacidad si se depliega el menu (SOLO EN PANTALLAS CHICAS) */
.main.bajar-opacidad {
  opacity: 0.25;
}

/* Flecha que se mueve */
@-webkit-keyframes flecha-mueve {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes flecha-mueve {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}

.inactivo {
  /* background-color: $backGra1; */
  color: #f6f6f6;
  opacity: 0.5;
}

.activo {
  background-color: #e76f51;
  color: #f6f6f6;
  opacity: 1;
}

.main.rota-fondo .texto span {
  -webkit-animation: agita 0.5s ease-in;
          animation: agita 0.5s ease-in;
}

@-webkit-keyframes agita {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes agita {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein2 {
  0% {
    opacity: 0;
    top: -400px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
    top: -400px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */